
 <%- include('../partials/header') %>

 <table id="list">
  <thead>
      <th id="indexW">Mangas</th>
  </thead>
  <tbody>
    <% mangas.forEach(function(m) { %>
      <tr>
        <td id="indexTitile"><%= m.title %></td>
        <td><img src ="<%= m.picture %>" style="height:200px"></td>
        <td id="indexInfo"><a href ="/mangas/<%=m.id%>">Info</a></td>
        <% }); %>
  </tbody>
 </table>
 <%- include('../partials/footer') %>
 